*{
    margin: 100;
    padding: 200;
    font-family: 'Poppins', 'Josefin Sans';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #F4F4F4;
    color: #18171D;
}
ul {
    list-style-type: none;
  }
  
  .comment-box {
      width: 410px;
      height: 100px;
      font-size:15px;
      border-radius: 5px;
      border: 1.8px solid #B4B4B4;
  }
  
  .add-btn {
    display: block;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid #18171D;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
  }
  .add-btn:hover{
    background: #18171D;
}
  
  .comment-handle {
      color:blue;
      margin-top:20px;
      text-decoration:underline;
  }
  
  .name-handle {
      width: 200px;
      height: 30px;
      font-size: 15px;
  }
  
  .hr{
      color:rgba(0,0,0,0.15);
      width:600px;
  }
  
  .comment-header {
      display:flex;
      width:50%;
      justify-content:space-between;
  }
  
  .comment-input-row {
      display:flex;
      margin-top:20px;
      margin-bottom:10px;
  }